<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutUs.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About Us!</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>About Us!</h1>
            <p>
                Welcome to Gadgets Of Galaxy, where we offer a wide range of products and services to meet all your online shopping needs. Our website is designed to provide you with an easy, safe, and enjoyable shopping experience from the comfort of your own home.

                At Gadgets Of Galaxy, we are committed to providing high-quality products at competitive prices. Our extensive selection of products includes everything from electronics and home appliances to fashion and beauty products. We work with trusted suppliers and manufacturers to ensure that all our products are of the highest quality.

                Our team of dedicated professionals is always ready to assist you with any questions or concerns you may have. We strive to provide excellent customer service and support to ensure that your shopping experience with us is smooth and hassle-free.

                We value our customers and are committed to providing a secure and reliable platform for all your online shopping needs. We use state-of-the-art security measures to protect your personal information and ensure that your transactions are safe and secure.

                We appreciate your business and look forward to serving you. Thank you for choosing Gadgets Of Galaxy as your go-to destination for online shopping.
            </p>
        </div>
        <div class="sub-container">
            <div class="teams">
                <img src="images/Thanush.webp" alt="">
                <div class="name">Thanush Shetty</div>
                <div class="desig">Team Leader</div>
                <div class="about">
                    <ul>Roll Number: S20210010204</ul>
                    <ul>Section: 2</ul>
                </div>
                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="teams">
                <img src="images/Thanush.webp" alt="">
                <div class="name">Hemanth</div>
                <div class="desig">Team Member</div>
                <div class="about">
                    <ul>Roll Number: S20210010008</ul>
                    <ul>Section: 2</ul>
                </div>
                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="teams">
                <img src="images/img3.webp" alt="">
                <div class="name">Akhil</div>
                <div class="desig">Team Member</div>
                <div class="about">
                    <ul>Roll Number: S20210010114</ul>
                    <ul>Section: 2</ul>
                </div>
                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="teams">
                <img src="images/img4.webp" alt="">
                <div class="name">Praveen Kumar</div>
                <div class="desig">Team Member</div>
                <div class="about">
                    <ul>Roll Number: S20210010209</ul>
                    <ul>Section: 2</ul>
                </div>
                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="teams">
                <img src="images/img5.webp" alt="">
                <div class="name">Sure Vinay</div>
                <div class="desig">Team Member</div>
                <div class="about">
                    <ul>Roll Number: S20210010218</ul>
                    <ul>Section: 2</ul>
                </div>
                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>