<%- include('includes/head') %>
<body>
  <header>
    <%- include('includes/header_top'); %>
        <%- include('includes/header_nav'); %>
            <!-- <%- include('includes/header_main'); %> -->
</header>
  <div class="landing_page">
    <div class="responsive-container-block big-container">
      <img class="bg-img" id="iq5bf" src="https://thumbs.dreamstime.com/b/many-used-modern-electronic-gadgets-use-white-floor-reuse-recycle-concept-top-view-164230611.jpg">
      <div class="responsive-container-block container">
        <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 left-one">
          <div class="content-box">
            <p class="text-blk section-head">
              Lorem ipsum amet dolor
            </p>
            <p class="text-blk section-subhead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis volupta
            </p>
            <div class="icons-container">
              <a class="share-icon">
                <img class="img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-twitter.png">
              </a>
              <a class="share-icon">
                <img class="img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-facebook.png">
              </a>
              <a class="share-icon">
                <img class="img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-google.png">
              </a>
              <a class="share-icon">
                <img class="img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-instagram.png">
              </a>
            </div>
          </div>
        </div>
        <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6 right-one" id="i1zj">
          <form class="form-box" name="formvalidate" onsubmit="formvalidate()">
            <div class="container-block form-wrapper">
              <p class="text-blk contactus-head">
                <a class="link" href="">
                </a>
                Get a quote
              </p>
              <p class="text-blk contactus-subhead">
                We will get back to you in 24 hours
              </p>
              <div class="responsive-container-block">
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i10mt-7">
                  <input class="input" id="name" name="name" placeholder="First Name">
                </div>
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i1ro7">
                  <input class="input" id="name" name="name" placeholder="Last Name">
                </div>
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-6 wk-ipadp-6 emial" id="ityct">
                  <input class="input" id="email" name="email" placeholder="Email">
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                  <input class="input" id="phoneNumber" name="PhoneNumber" placeholder="Phone Number">
                </div>
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-7">
                  <textarea aria-placeholder="Type message here" class="textinput" id="textinput" placeholder="Type message here"></textarea>
                </div>
              </div>
              <button class="submit-btn">
                Get quote
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    function formvalidate() {
    var name = document.forms["formvalidate"]["name"].value;
    var email = document.forms["formvalidate"]["email"].value;
    var password = document.forms["formvalidate"]["password"].value;
    var cpassword = document.forms["formvalidate"]["cpassword"].value;
    if (name == "") {
        alert("Name cannot be empty");
        return false;
    }
    if(name.length < 5){
        alert("Name should contain atleast 5 characters");
        return false;
    }
    if (email == "") {
        alert("Email cannot be empty");
        return false;
    }
    var eCheck = /^\S+@\S+\.\S+$/;
    if (!email.match(eCheck)) {
        alert("Please enter a valid email address");
        return false;
    }
    var pcheck = /^[6-9]\d{9}$/;
    if(!pcheck.match(pcheck)){
      alert("phone number should conly only 10 digit without any symbols and first digit is between 6 to 9")
    }
}

  </script>
</body>
